@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;700&family=Open+Sans:wght@300&family=Oswald:wght@200&display=swap');
.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: -15px;
}

.pokemon-card img {
  width: 190px;
  height: 125px;
  margin-top: 10px;
}






.grass {
  background-color: #24aa72d5;
}

.fire {
  background-color: #fc653fe5;
}

.electric {
  background-color: #FDEB71;
}

.water {
  background-color: #0066b9bd;
}

.rock {
  background-color: rgba(110, 47, 47, 0.808);
}

.ghost {
  background-color: rgba(141, 50, 141, 0.781);
}

.psychic {
  background-color: lightpink;
}

.ground {
  background-color: rgba(218, 165, 32, 0.74);
}

.normal {
  background-color: beige;
}

.fighting {
  background-color: rgba(168, 48, 58, 0.808);
}

.flying {
  background-color: rgb(134, 199, 224);
}

.poison {
  background-color: rgba(71, 61, 139, 0.849);
}

.bug {
  background-color: #90f7be;
}

.steel {
  background-color: darkgray;
}

.fairy {
  background-color: rgb(255, 176, 225);
}

.ice {
  background-color: rgb(209, 252, 252);
}

.dragon {
  background-color: royalblue;
}

.dark {
  background-color: rgba(0, 0, 0, 0.699);
  
}

.pokemon-card h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
}

.pokemon-card .types .type {
  font-family: 'Barlow', sans-serif;
   font-size: 14px; 
 } 

.type-pill {
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 18px; 
  font-family: 'Barlow', sans-serif;
  
}

.pokemon-number {
  font-size: 12px;
  font-weight: 500;
  font-size: 18px;
}
  
@media screen and (min-width: 1350px) and (max-width: 2000px ){
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: -30px;
  
  }
  .pokemon-card img {
   
    height: 120px; 
    width: 138px; 

  }
  .pokemon-card h3 {
    font-size: 22px;
  
  }

  .type-pill {
    
    top: 8%;
    font-size: 15px; 
  
  }
  .pokemon-types{
    padding: 5px;
    margin-left: 5px;
  }
  }

  @media screen and (min-width: 768px) and (max-width: 1349px ){
    .pokemon-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0px;
      text-align: center;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      margin-top: -50px;
      height: 120px; 
      width: 70px;

    }
    .pokemon-card img {
      margin-top: -25px;

      height: 100px; 
      width:95px; 

    }
    .pokemon-card h3 {
      font-size: 13px;

    }

    .type-pill {
      margin-left: -7px;

      top: 8%;
      font-size: 12px; 
    }
    .pokemon-types{
      padding: 6px;
      margin-left: 13px;
      margin-top: -20px;
    
    }
    }

    @media screen and (min-width: 320px) and (max-width: 767px ){
      .pokemon-card {
        display: flex;
        flex-direction: column(1);
        align-items: center;
        justify-content: center;
        gap: 0px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        margin-top: -30px;
      
      }
      .pokemon-card img {

        height: 120px; 
        width: 138px; 
    
      }
      .pokemon-card h3 {
        font-size: 22px;
      
      }
    
      .type-pill {
        
        top: 8%;
        font-size: 15px; 
      
      }
      .pokemon-types{
        padding: 5px;
        margin-left: 5px;
      }
    }
