@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;700&display=swap');

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.pokemon-card img {
  width: 190px;
  height: 125px;
}

.pokemon-card h3 {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.pokemon-card p {
  font-size: 14px;
}

.pokemon-card .types {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.pokemon-card .type {
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px; 
   text-transform: capitalize;
  font-family: 'Barlow', sans-serif;
} 

.grass {
  background-color: #24aa72d5;
}

.fire {
  background-color: #fc653fe5;
}

.electric {
  background-color: #FDEB71;
}

.water {
  background-color: #0066b9bd;
}

.rock {
  background-color: rgba(110, 47, 47, 0.808);
}

.ghost {
  background-color: rgba(141, 50, 141, 0.781);
}

.psychic {
  background-color: lightpink;
}

.ground {
  background-color: rgba(218, 165, 32, 0.74);
}

.normal {
  background-color: beige;
}

.fighting {
  background-color: rgba(168, 48, 58, 0.808);
}

.flying {
  background-color: rgb(134, 199, 224);
}

.poison {
  background-color: rgba(71, 61, 139, 0.849);
}

.bug {
  background-color: #90f7be;
}

.steel {
  background-color: darkgray;
}

.fairy {
  background-color: rgb(255, 176, 225);
}

.ice {
  background-color: rgb(209, 252, 252);
}

.dragon {
  background-color: royalblue;
}

.dark {
  background-color: rgba(0, 0, 0, 0.699);
  
}

.pokemon-card h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
}

.pokemon-card .types .type {
  font-family: 'Barlow', sans-serif;
   font-size: 14px; 
 } 

.type-pill {
  background-color: #ffffff9f;
  border-radius: 16px;
  padding: 4px 8px;
  margin-right: 8px;
}

.pokemon-number {
  font-size: 12px;
  font-weight: 300;
}
  
