@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;700&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;700&family=Open+Sans:wght@300&family=Oswald:wght@200&display=swap');


body {
  background: #b1b1b1;
  
}
.pokedex-container {
  position: relative;
  margin: -8px;
  padding: 61px;
  background: rgb(201, 201, 201);
}


.pokedex-grid {
  max-width: 100px; 
  margin: 0 auto; 
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 20px;
  font-family: 'Barlow', sans-serif;}

.pokedex-grid > div {
  flex: 1 0 16%;
  margin: 0.5em;
}



.search-input {
  
  
    position: absolute;
    top: 35px; 
    left: 38%; 
    transform: translateX(-50%);
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  border: 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.load-more-button {
  position: absolute;
  top: -30px;
  left: 95%;
  transform: translate(-50%, -50%);
  background: #eeeeee;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.search-button {
  position: absolute;
  margin-top: -90px;
  left: 46%;
  transform: translate(-50%, -50%);
  background: #eeeeee;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.list-generation {
  position: absolute;
  margin-top: -90px;
  left: 49%;
  transform: translate(-50%, -50%);

  height: 50px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}


.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.list-item{
  margin-left: 15px;
}



.list-types {
  position: absolute;
  margin-top: -90px;
  left: 48.60%;
  transform: translate(-50%, -50%);

  height: 50px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.suggestions-container {
  position: absolute;
  margin-top: 20px;
  left: 37.5%;
  transform: translate(-50%, -50%);
  background: #eeeeee;
  width: 150px;
  margin-left: -30px;
  cursor: pointer;


}

@media screen and (min-width: 1350px) and (max-width: 2000px ){

.pokedex-grid{
  grid-template-columns: repeat(6, 1fr);

}
.pokedex-grid > div {
  height: 295px; 
width: 130px;
  padding: 1px;

}

  .search-input {
    position: absolute;
    top: 35px;
    left: 36%;
    transform: translateX(-50%);
}

.search-button{
  left: 48.5%;

}
.list-generation{
  left: 52.5%;
}
.list-types{
  left: 52%;

}

.load-more-button{
  top: -85px;
}

}

@media screen and (min-width: 768px) and (max-width: 1349px ){
  .pokedex-grid{
    grid-template-columns: repeat(6, 1fr);
  
  }
  .pokedex-grid > div {
    height: 140px; 
    padding: 2px;
  margin-right: 80px;
  max-width: 1px;
 
}
  
    .search-input {
      position: absolute;
      top: 35px;
      left: 30%;
      width: 100px;
      transform: translateX(-50%);
      font-size: 10px;

  }
  
  .search-button{
    left: 48%;
    width: 80px;
    font-size: 10px;

  }
  .list-generation{
    left: 50%;
    width: 80px;
    font-size: 10px;

  }
  .list-types{
    left: 52%;
    width: 80px;
    font-size: 10px;

  }
  
  .load-more-button{
    top: -10px;
    width: 100px;
    font-size: 10px;
    left: 50%;

  }
}

@media screen and (min-width: 320px) and (max-width: 767px ){
  .pokedex-grid{
    grid-template-columns: repeat(1, 1fr);
  
  }
  .pokedex-grid > div {
    height: 295px; 
  width: 160px;
    padding: 1px;
    
  
  }
  
  .search-input {
    position: absolute;
    top: 35px;
    left: 20%;
    width: 100px;
    transform: translateX(-50%);
    font-size: 10px;

}

.search-button{
  left: 52%;
  width: 80px;
  font-size: 10px;

}
.list-generation{
  left: 54%;
  width: 80px;
  font-size: 10px;

}
.list-types{
  left: 54%;
  width: 80px;
  font-size: 10px;

}
  .load-more-button{
    top: -10px;
    left: 50%;

  }
}